set editing-mode vi
$if mode=vi
set keymap vi-command
"\e[A": history-search-backward
"\e[B": history-search-forward
set keymap vi-insert
"\C-a": beginning-of-line
"\C-e": end-of-line
"\C-l": clear-screen
"\e[A": history-search-backward
"\e[B": history-search-forward
$endif
